.swiper{
    /* width: 50%; */
    margin-bottom: .2rem;
    /* padding-bottom: 15rem; */
}

.tech{
    background-color: rgb(71, 71, 71);
    color: aliceblue;
    padding: 4px 16px;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}