
.background-pattern {
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color:black; */
  background-image: radial-gradient(rgba(2255, 255, 255, 0.1)9%,
      transparent 9%);
  background-position: 0% 0%;
  background-size: 8vmin 8vmin;

  /* position: absolute;
  left: 0;
  top: 0; */

}